/* This file is for your main application css. */
.papersThumbnail{
  height:300px;
} 
.paperLabel{
  text-align:center;
}

header a:link{
  color: green;
}
header a:visited{
  color: green;
}
header a:hover{
  color: green;
}
header a:active {
  color: green;
}
