<h2>Edit signature</h2>

<%= render "form.html", changeset: @changeset,
                        action: signature_admin_path(@conn, :update, @signature) %>

<%= link "Back", to: signature_admin_path(@conn, :index) %>
