<h2>Listes des signatures</h2>

<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
    </tr>
  </thead>
  <tbody>
<%= for signature <- @signatures do %>
    <tr>
      <td><%= signature.firstname %></td>
      <td><%= signature.lastname %></td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "Revenir a l'acceuil", to: page_path(@conn, :index) %>
